<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ninja Gold</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'first_app/css/styles.css' %}">
</head>

<body>
    <div class="wrapper">
        <div class="goldcount">
            <h4>Your Gold:</h4>
            <input type="text" value = "{{ gold }}">
            <form action="/clear" method="post">
                {% csrf_token %}
                <button>Reset Gold</button>
            </form>
        </div>
        <div>
            <div class ="box" >
                <h3>Farm</h3>
                <p>(earns 10-20 golds)</p>
                <form action="/process_money" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="building" value="farm" />
                    <input type="submit" value="Find Gold!"/>
                </form>
            </div>
            <div class ="box" >
                <h3>Cave</h3>
                <p>(earns 5-10 golds)</p>
                <form action="/process_money" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="building" value="cave" />
                    <input type="submit" value="Find Gold!"/>
                </form>
            </div>
            <div class ="box" >
                <h3>House</h3>
                <p>(earns 2-5 golds)</p>
                <form action="/process_money" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="building" value="house" />
                    <input type="submit" value="Find Gold!"/>
                </form>
            </div>
            <div class ="box" >
                <h3>Casino</h3>
                <p>(earns/takes 0-50 golds)</p>
                <form action="/process_money" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="building" value="casino" />
                    <input type="submit" value="Find Gold!"/>
                </form>
            </div>
        </div>
        <p class="activityheader">Activities:</p>
        
        <div class = "activitiesbox">
            <ul>
                {% for x in goldlog %}
                    <li>{{x}}</li>
                {% endfor %}
            </ul>
   
            <!-- <p class = "pactivity" style ="color: {{ pcolor }};">{{goldlog}}</p> -->
        </div>
    </div>
    
</body>
</html>